.box {
	display: inline-block;
	width: 100px;
	height: 100px;
	text-align: center;
	background: url("../img/secret.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	color: orange;
	border: 2px solid orange;
	margin: 0;	
} 

.emptyBoxOpen {
	background: url("../img/nothing.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}


.priseBoxOpen {
	background: url("../img/present.png");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}






